@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  display: none !important;
}
html[data-theme="dark"] .theme-dark {
  display: revert !important;
}
html[data-theme="dark"] .theme-light {
  display: none !important;
}

/* Common Elems */
a {
  color: var(--accent);
}
a {
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--accent-dark);
}
.badge-outline {
  @apply hover:text-blue-500;
}

figure {
  margin: 0 auto;
  width: fit-content;
}
:root {
  --heading-hash-offset-1: 1.75rem;
  --heading-hash-offset-2: 1.75rem;
  --heading-hash-offset-3: 1.75rem;
  --heading-hash-offset-4: 1.75rem;
  --heading-hash-offset-5: 1.75rem;
}

/* Typst Elems */
figcaption {
  text-align: center;
}
.code-image svg {
  max-width: 100%;
  height: fit-content;
}
.inline-equation {
  display: inline-block;
  width: fit-content;
  margin: 0 0.15em;
}

.block-list,
.block-list li {
  margin: 0;
  padding: 0;
}
.block-list > li {
  list-style: none;
  margin-top: 1.5em;
  padding-left: 1em;
  border-left: 2.5px solid var(--main-color);
}
.block-list.accent > li {
  border-left: 2.5px solid var(--accent);
}

.jumpable {
  scroll-margin-top: 8rem;
  margin: 24px 0;
}

.block-equation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.equation-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.equation-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.equation-numbering {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Outline */

.outline-item.x-heading-1 {
  margin-left: 0em;
}
.outline-item.x-heading-2 {
  margin-left: 1em;
}
.outline-item.x-heading-3 {
  margin-left: 2em;
}
.outline-item.x-heading-4 {
  margin-left: 3em;
}
.outline-item.x-heading-5 {
  margin-left: 4em;
}
