@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  display: none !important;
}
html.dark .theme-light {
  display: none !important;
}

/* Common Elems */
a {
  color: var(--accent);
}
a {
  transition: color 0.1s ease-in-out;
}
a:hover {
  color: var(--accent-dark);
}
:root {
  --heading-hash-offset-1: 1.75rem;
  --heading-hash-offset-2: 1.75rem;
  --heading-hash-offset-3: 1.75rem;
  --heading-hash-offset-4: 1.75rem;
  --heading-hash-offset-5: 1.75rem;
}

h1 :target,
h2 :target,
h3 :target,
h4 :target,
h5 :target,
h6 :target {
  scroll-margin-top: 1.25em;
}
h1 {
  font-size: 2.75em;
  margin-block-start: 0em;
  margin-block-end: 0.8888889em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.1111111;
}
h2 {
  font-size: 2em;
  margin-block-start: 1.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.3333333;
}
h3 {
  font-size: 1.5em;
  margin-block-start: 1.5em;
  margin-block-end: 0.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.45;
}

/* Typst Elems */
figcaption {
  text-align: center;
}
.code-image svg {
  max-width: 100%;
  height: fit-content;
}
.inline-equation {
  display: inline-block;
  width: fit-content;
  margin: 0 0.15em;
}
.block-equation {
  display: grid;
  place-items: center;
  overflow-x: auto;
}
.block-list,
.block-list li {
  margin: 0;
  padding: 0;
}
.block-list > li {
  list-style: none;
  margin-top: 1.5em;
  padding-left: 1em;
  border-left: 2.5px solid var(--main-color);
}
.block-list.accent > li {
  border-left: 2.5px solid var(--accent);
}
