---
import { getCollection } from "astro:content";
import FormattedDate from "$components/FormattedDate.astro";
import TagList from "$components/TagList.astro";
import { renderComment } from "$components/Typst";
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";

import {
  kSiteTitle,
  kSiteIndexTitle,
  kSiteDescription,
  kUrlBase,
  kBaiduVeriCode,
} from "$consts";
import Profile from "$components/Profile.astro";
import PostsList from "$components/PostsList.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const tagCounts = tags
  .map((tag) => ({
    name: tag,
    count: allPosts.filter((post) => post.data.tags?.includes(tag)).length,
  }))
  .sort((a, b) => b.count - a.count);

// @ts-ignore
---

<BaseLayout pageTitle={kSiteTitle}>
  <div class="max-w-6xl mx-auto py-2">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="hidden lg:block lg:col-span-1 space-y-8">
        <Profile />
        <div class="max-w-80 card card-compact bg-base-100 shadow-xl mx-auto">
          <div class="card-body m-1">
            <div class="flex items-center justify-between">
              <h3 class="card-title text-lg">Tags</h3>
              <a href="/tags/" class="btn btn-ghost btn-sm"
                >全部标签 <Icon name="ri:arrow-right-line" size="16" /></a
              >
            </div>
            <div class="flex flex-wrap gap-2">
              {
                tagCounts.map(({ name, count }) => (
                  <a
                    href={`/tags/${name}/`}
                    class="badge badge-outline hover:text-blue-500"
                  >
                    {name} <sup class="text-xxs">{count}</sup>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2">
        <div class="card bg-base-100 shadow-xl">
          <div class="card-body">
            <div class="flex items-center justify-between mb-6">
              <h2 class="card-title text-2xl">最新文章</h2>
              <a href="/blog/" class="btn btn-ghost btn-sm"
                >全部文章 <Icon name="ri:arrow-right-line" size="16" /></a
              >
            </div>
            <PostsList size={8} , offset={0} />
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
