---
import { kEnableReaction } from "$consts";

const giscusConfig = {
  repo: "paran3xus/paran3xus.github.io",
  repoId: "R_kgDOOxdsrA",
  category: "General",
  categoryId: "DIC_kwDOOxdsrM4CqpWy",
  enableReaction: kEnableReaction,
  defaultTheme: "dark",
};
---

<section class="mx-auto mt-12">
  <div id="giscus-container"></div>
</section>

<script is:inline define:vars={{ giscusConfig }}>
  const script = document.createElement("script");
  script.src = "https://giscus.app/client.js";
  script.setAttribute("data-repo", giscusConfig.repo);
  script.setAttribute("data-repo-id", giscusConfig.repoId);
  script.setAttribute("data-category", giscusConfig.category);
  script.setAttribute("data-category-id", giscusConfig.categoryId);
  script.setAttribute("data-mapping", "pathname");
  script.setAttribute("data-strict", "0");
  script.setAttribute(
    "data-reactions-enabled",
    giscusConfig.enableReaction ? "1" : "0"
  );
  script.setAttribute("data-emit-metadata", "0");
  script.setAttribute("data-input-position", "top");
  script.setAttribute(
    "data-theme",
    localStorage.getItem("theme") || giscusConfig.defaultTheme
  );
  script.setAttribute("data-lang", "zh-CN");
  script.setAttribute("crossorigin", "anonymous");
  script.async = true;

  document.getElementById("giscus-container").appendChild(script);
</script>

<script is:inline>
  function updateGiscusTheme() {
    const theme =
      document.documentElement.getAttribute("data-theme") === "dark"
        ? "dark"
        : "light";
    const iframe = document.querySelector("iframe.giscus-frame");
    if (!iframe) return;
    iframe.contentWindow.postMessage(
      { giscus: { setConfig: { theme } } },
      "https://giscus.app"
    );
  }

  const observer = new MutationObserver(updateGiscusTheme);
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });

  window.onload = () => {
    updateGiscusTheme();
  };
</script>
