---
import { kEnableReaction } from "$consts";
import { renderComment } from "./Typst";

const { id } = Astro.props;
---

<section class="mx-auto mt-12">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="paran3xus/paran3xus.github.io"
    data-repo-id="R_kgDOJvPHkw"
    data-category="General"
    data-category-id="DIC_kwDOJvPHk84Cqn5e"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled={kEnableReaction ? "1" : "0"}
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>

<script is:inline>
  function updateGiscusTheme() {
    const theme = document.documentElement.classList.contains("dark")
      ? "dark"
      : "light";
    const iframe = document.querySelector("iframe.giscus-frame");
    if (!iframe) return;
    iframe.contentWindow.postMessage(
      { giscus: { setConfig: { theme } } },
      "https://giscus.app"
    );
  }

  const observer = new MutationObserver(updateGiscusTheme);
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["class"],
  });

  window.onload = () => {
    updateGiscusTheme();
  };
</script>
