---
import { kSiteOwner } from "$consts";
---

<footer class="footer footer-center max-w-5xl mx-auto pb-16 pt-6 px-4">
  <aside class="w-full">
    <div class="divider w-full"></div>

    <div class="text-sm mb-2">
      Total Visits: <span id="vercount_value_site_pv">Loading...</span>
      <span class="mx-2">|</span>
      Unique Visitors: <span id="vercount_value_site_uv">Loading...</span>
    </div>

    <p>
      Copyright © 2023 - {new Date().getFullYear()}
      {kSiteOwner}. All rights reserved.
      <br />
      Powered by Astro, DaisyUI and Typst.
      <br />
    </p>
  </aside>
</footer>
