---
import { Icon } from "astro-icon/components";

const socialLinks = [
  {
    name: "GitHub",
    url: "https://github.com/paran3xus",
    icon: "ri:github-fill",
  },
  {
    name: "Telegram",
    url: "https://t.me/paran3xus",
    icon: "ri:telegram-fill",
  },
];
---

<div class="max-w-80 card card-compact bg-base-100 shadow-xl mx-auto">
  <figure>
    <img class="object-cover h-48" src="/profile-banner.png" alt="Avatar" />
  </figure>
  <div class="card-body">
    <p class="text-center text-lg font-bold">ParaN3xus</p>
    <p class="text-center">希望少犯之前犯过的错.</p>
    <div class="grid grid-cols-2 gap-3">
      {
        socialLinks.map((link) => (
          <a
            href={link.url}
            target="_blank"
            class="hover:text-primary flex justify-center"
          >
            <button class="btn btn-ghost w-32">
              <Icon name={link.icon} size="20px" />
              <p>{link.name}</p>
            </button>
          </a>
        ))
      }
    </div>
  </div>
</div>
