---
import { kUrlBase } from "$consts";

interface Props {
  tags: string[];
  classes: string;
}

const { tags, classes } = Astro.props;
---

<div class="flex gap-1">
  {
    tags.map((tag) => (
      <a href={`/tags/${tag}/`} class={classes}>
        {tag}
      </a>
    ))
  }
</div>
