---
import { Icon } from "astro-icon/components";
---

<label class="swap swap-rotate btn btn-ghost btn-circle">
  <input
    type="checkbox"
    data-toggle-theme="dark,light"
    data-act-class="ACTIVECLASS"
    id="theme-toggle"
  />
  <Icon name="ri:sun-line" size="24" class="swap-on text-yellow-500" />
  <Icon name="ri:moon-line" size="24" class="swap-off text-gray-500" />
  <script>
    import { themeChange } from "theme-change";
    themeChange();
  </script>
</label>

<script>
  document.addEventListener("DOMContentLoaded", (): void => {
    const themeToggle = document.getElementById(
      "theme-toggle"
    ) as HTMLInputElement;

    if (!themeToggle) {
      console.error("Theme toggle element not found");
      return;
    }

    const savedTheme: string = localStorage.getItem("theme") || "dark";

    document.documentElement.setAttribute("data-theme", savedTheme);
    themeToggle.checked = savedTheme === "light";

    themeToggle.addEventListener("change", (): void => {
      const newTheme: string = themeToggle.checked ? "light" : "dark";
      localStorage.setItem("theme", newTheme);
    });
  });
</script>
