---
import { Icon } from "astro-icon/components";
---

<label class="swap swap-rotate mx-4">
  <input
    type="checkbox"
    class="theme-controller"
    value="light"
    id="theme-toggle"
  />
  <Icon name="heroicons:sun" class="swap-on w-8 h-8 text-yellow-500" />
  <Icon name="heroicons:moon" class="swap-off w-8 h-8 text-gray-500" />
</label>

<script>
  document.addEventListener("DOMContentLoaded", function (): void {
    const themeToggle: HTMLInputElement | null = document.getElementById(
      "theme-toggle"
    ) as HTMLInputElement;
    const html: HTMLElement = document.documentElement;

    if (!themeToggle) {
      console.error("Theme toggle element not found");
      return;
    }

    const savedTheme: string = localStorage.getItem("theme") || "dark";
    updateTheme(savedTheme);

    themeToggle.checked = savedTheme === "light";

    themeToggle.addEventListener(
      "change",
      function (this: HTMLInputElement): void {
        const newTheme: string = this.checked ? "light" : "dark";
        updateTheme(newTheme);
        localStorage.setItem("theme", newTheme);
      }
    );

    function updateTheme(theme: string): void {
      html.setAttribute("data-theme", theme);

      if (theme === "dark") {
        html.classList.add("dark");
      } else {
        html.classList.remove("dark");
      }
    }
  });
</script>
