---
import { Icon } from "astro-icon/components";
---

<script is:inline>
  // immediate run
  const savedTheme = localStorage.getItem("theme") || "dark";
  document.documentElement.setAttribute("data-theme", savedTheme);
</script>

<label class="swap swap-rotate btn btn-ghost btn-circle">
  <input
    type="checkbox"
    id="theme-toggle"
    class="theme-controller"
    value="synthwave"
  />
  
  <Icon name="ri:sun-line" size="24" class="swap-on text-yellow-500" />
  <Icon name="ri:moon-line" size="24" class="swap-off text-gray-500" />
</label>

<script>
  // load after the page
  
  document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle") as HTMLInputElement | null;
    
    // refetch current theme 
    const currentTheme = document.documentElement.getAttribute("data-theme");
    
    // configure the toggle state 
    if (themeToggle) {
        themeToggle.checked = currentTheme === "light";
    }

    // listen for changes 
    themeToggle?.addEventListener("change", (e) => {
      const target = e.target as HTMLInputElement;
      const newTheme = target.checked ? "light" : "dark";
      document.documentElement.setAttribute("data-theme", newTheme);
      localStorage.setItem("theme", newTheme);
    });
  });
</script>