name: blog::deploy

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN
permissions:
  deployments: write
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  deploy-blog:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Cache Node Dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/yarn/v6
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies with Yarn
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Sync Environment Variables
        run: cp content/.env.blog .env

      - name: Cache Fonts
        id: cache-fonts
        uses: actions/cache@v4
        with:
          path: ./assets/fonts
          key: fonts-noto-serif-2.003-sans-2.004

      - name: Download Fonts
        if: steps.cache-fonts.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./assets/fonts

          # Noto Serif CJK
          mkdir -p assets/fonts/noto-cjk
          wget -O noto-serif-cjk.zip "https://github.com/notofonts/noto-cjk/releases/download/Serif2.003/04_NotoSerifCJKOTC.zip"
          unzip -o noto-serif-cjk.zip -d assets/fonts/noto-cjk
          rm noto-serif-cjk.zip

          # Noto Sans CJK
          wget -O noto-sans-cjk.zip "https://github.com/notofonts/noto-cjk/releases/download/Sans2.004/03_NotoSansCJK-OTC.zip"
          unzip -o noto-sans-cjk.zip -d assets/fonts/noto-cjk
          rm noto-sans-cjk.zip

      - name: Build Blog
        run: yarn build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4